{% extends 'base.html' %}
{% load static %}
{% block content %}

    <style>
    .container div {
        display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
        flex-direction: column;
        {#box-shadow:  0 0 .5rem gray;#}
    }
    .container img{
        width: 7rem;
        height:7rem;
        object-fit : cover;
        border-radius: 1rem;
    }
{#.container .item1 { height: 200px; }#}
{#.container .item4 { height: 800px; }#}
{#.container .item6 { height: 600px; }#}
{#.container .item11 { height: 400px; }#}

    </style>

    <div class="container my-4">
        {% for project in project_list %}
            <div>
                <a href="{% url 'projectapp:detail' pk=project.pk %}">
                    <img src="{{ project.image.url }}" alt="">
                </a>
              <span class="NNS_B m-2">
                  {{ project.name | truncatechars:7 }}
              </span>
            </div>
        {% endfor %}

    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>

    {% include 'snippets/pagination.html' %}


    <div class="text-center my-5">

         <a href="{% url 'articleapp:create' %}"
            class="btn btn-outline-dark rounded-pill px-5"> <!--그냥 create article 버튼-->
            Create Project
        </a>
    </div>
{#    #}



{% endblock %}