{% extends 'base.html' %}

{% block content %}

    <div class="container text-center">
        <div class="my-5">
            {#     제목, 글쓴이, 작성일자       #}
            <h1 class="NNS_B">{{ target_article.title }}</h1>
            <h3>{{ target_article.writer.profile.nickname }}</h3> {# writer사용자의 프로필의 닉네임을 가져옴 #}
            <p>{{ target_article.created_at }}</p>
        </div>

        <hr>

        <div class="my-5">
            {# 게시글 대표 이미지, 게시글 내용    #}
            <img src="{{ target_article.image.url }}"
                 class="article-image"
                 alt="">
            <div class="article-content">
                {{ target_article.content }}
            </div>
            {% if target_article.writer == user %}
            <div>
                <a href="{% url 'articleapp:update' pk=target_article.pk %}"
                    class="btn btn-success rounded-pill px-5">
                    Update
                </a>
                <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
                    class="btn btn-danger rounded-pill px-5">
                    Delete
                </a>
            </div>
            {% endif %}
        </div>

        <hr>

        <div class="text-center my-4">
            {# 댓글내용, 댓글작성 #} {# comment앱을 만들어서 댓글기능 만들것임. #}
            {% include 'commentapp/create.html' %}

            {% for comment in target_article.comment.all %}
                <div class="text-center my-2">
                    {{ comment.comment }}
                </div>

            {% endfor %}
        </div>
    </div>


{% endblock %}